# Arquivos e pastas do sistema macOS
.DS_Store
.AppleDouble
.LSOverride

# Icones de lixeira no macOS
Icon
._*

# Arquivos de logs
*.log

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Ambiente Virtual
venv/
env/
.env
stellar_env/
tx_hash.txt

# Configurações de IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de Backup do Editor
*~
*.swp
*.bak
*.tmp

# Arquivos de configuração de Python
.pytest_cache/
coverage.xml
.tox/

# Pastas excluídas
Tokenizacao/
Obsoletos/

# Ignore diretório de build do cargo
/target/

# Ignore arquivos de lock e cache gerados pelo Cargo
**/*.rs.bk
Cargo.lock

# Arquivos e diretórios de configuração do IDE
/.idea/
/.vscode/
/*.rs.bk

# Arquivos do editor e sistema operacional
*.swp
*.swo
.DS_Store
*.log

# Arquivos de debug ou dump de crash
*.dmp
*.stackdump
